h1{
    color: aliceblue;
    background-color: black;
}
#blue {
    color: aqua;
}
h2{
    text-align: center;
    color: aliceblue;
    background-color: rgb(124, 19, 124);
    font-style: italic;
    font-weight: 100
    ;
}
h3{
    text-align: right;
    background-color: cyan;
}

