<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show Details</title>
</head>
<body>
    <a href="/shows">Go Back to all shows</a>
    <h1>TV Show {{show.id}}</h1>
    <p>Title: {{show.title}}</p>
    <p>Network: {{show.network}}</p>
    <p>Release Date: {{show.release_date}}</p>
    <p>Description: {{show.description}}</p>
    <br><br>
    <p>Last Updated: {{show.updated_at}}</p>
    <td><a href="/show_edit_display/{{show.id}}">Edit</a></td>
    <td><a href="/show_delete/{{show.id}}">Delete</a></td>
</body>
</html>