*{
    margin: 0 auto;
    padding: 0 auto;
}
.header{
    text-align: center;
    font-weight: bold;
    font-size: larger;
    margin: 2% 0% 1% 0%;
    border-bottom:solid black ;
    padding-bottom: 2%;
    
}
.score{
    margin: 2% 0% 4% 2%;
    font-size: larger;


}
section{
    display: flex;
    justify-content: space-around;
}
.work-options{
    border: solid 2px black;
    width: 20%;
    height: 190px;
    text-align: center;
    padding: 10px;
    min-width: 15%;
    margin: 0% 0% 3% 0%;
    text-wrap: none;

}
h2{
    margin: 10% 0% 0% 0%;
}
.description{
    margin: 15% 0% 10% 0%;
    font-size: larger;
    font-weight: bold;
    display: block;
}
.button{
    margin-top: 1%;
    width: 70%;
    background-color: white;
    border: solid 2px black;
    box-shadow: 3px 3px;
    height: 30px;
    font-size: 100%;
}
.activites{
    margin: 3% 0% 0% 1%;
    height: 90px;
    border: solid black 2px;
    overflow-y: scroll;
}

#reset{
    width: 150%;
}
#container{
    display: flex;
}
.activityresult{
    font-size: small;
    font-weight: normal;
}
.resetbutton{
    margin: 1% 0% 0% 20% ;
    width: 50%;
    background-color: white;
    border: solid 2px black;
    box-shadow: 3px 3px;
    height: 30px;
    font-size: 100%;
}
.result{
    overflow-y: scroll;
    height: 80px;
    border: solid black 2px;
    width: 95%;
}
h1{
    text-align: center;
}