@charset "UTF-8";

body {
	font-family: Arial, sans-serif;
	background-color: #fff;
	padding: 20px;
	color: #333;
	margin: 0% 20% 0% 20%;
}

.table-container {
	background-color: #fff;
	padding: 15px;
	border-radius: 8px;
	display: inline-block;
	width: 100%;
}

